.s-header__top
  .s-header__projects
    ul.s-header__projects__list
      li.s-header__projects__item
        a(href="https://frontendcreative.io") Design Checklist

  //- Add new language manually
  .s-header__lang
    ul.s-header__lang__list
      li.s-header__lang__item
        a(href="/")
          img(src="/img/flags/en.svg" width="20" height="15" alt="English language")
      li.s-header__lang__item
        a(href="/jp")
          img(src="/img/flags/jp.svg" width="20" height="15" alt="Japanese language")
